.product{
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.product__price{
    width: 200px;
    height: 50px;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: grid;
    place-items: center;
    color: #76045D;


}


.product__image{
    height: 60%;

}


.product__navegation-container{
    display: flex;


}